* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
}

.wrap{
	height: 100vh;
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-item {
	margin-right: 20px;
}

.logo__item {
	width: 200px;
	height: 200px;
	border: 40px solid rgb(140, 198, 62);
	margin-bottom: 20px;
}

.item3 {
	border: 40px solid rgb(51, 139, 53);
	border-radius: 50% 50% 50% 0
}
.item1 {
	border: 40px solid rgb(140, 198, 62);
	border-radius: 50% 50% 0 50%
}
.item2 {
	border: 40px solid rgb(140, 198, 62);
	border-radius: 50% 0 50% 50%
}
.item4 {
	border: 40px solid rgb(140, 198, 62);
	border-radius: 0 50% 50% 50%
}

.description__text {
	font-family: Open Sans;
	color: rgb(140, 198, 62);
	font-weight: bold;
	font-size: 65px;
	margin-right: 20px;
}



